*.doctree
*.pickle
*.vtksz
locale/jupyter_execute/*
locale/pot/_panels_static/*
locale/pot/api/*
locale/pot/extras/*
locale/pot/getting-started/*
locale/pot/plot_directive/*
locale/pot/user-guide/*
locale/pot/_sphinx_design_static/*
locale/pot/_static/*
tx

# Build output
_build/
_test_build/

# Generated carousel stub files
pyvista/doc/source/api/examples/dataset-gallery/
api/
