repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
  - id: check-merge-conflict
  - id: debug-statements
  - id: no-commit-to-branch
    args: [--branch, main]
  - id: requirements-txt-fixer
  - id: trailing-whitespace
    exclude: ^(|locale)

- repo: https://github.com/python-jsonschema/check-jsonschema
  rev: 0.26.3
  hooks:
    - id: check-github-workflows
