-e ./pyvista
transifex-client
matplotlib
git+https://github.com/sphinx-doc/sphinx.git
git+https://github.com/sphinx-doc/sphinx-intl.git
sphinx-autobuild
sphinx-rtd-theme
sphinxcontrib-napoleon
sphinxcontrib-websupport
pytest-sphinx
sphinx-notfound-page>=0.3.0
sphinx-copybutton
sphinx-gallery>=0.4.0
