-e ./pyvista
sphinx-intl
transifex-client
scipy
matplotlib
imageio>=2.5.0
imageio-ffmpeg
colorcet
cmocean
Sphinx
sphinx-autobuild
sphinx-rtd-theme
sphinxcontrib-napoleon
sphinxcontrib-websupport
pytest-sphinx
sphinx-notfound-page>=0.3.0
sphinx-copybutton
sphinx-gallery>=0.8.1
lxml
trimesh
pypandoc
mypy
mypy-extensions
typed-ast
typing-extensions
jupyter_sphinx==0.3.2
jupyterlab>=3.0.12
ipygany
panel
ipyvtklink
cmocean
colorcet
imageio-ffmpeg
imageio>=2.5.0
ipygany
ipyvtklink
jupyter_sphinx==0.3.2
jupyterlab>=3.0.12
lxml
matplotlib
mypy
mypy-extensions
panel
pydata-sphinx-theme
pypandoc
pytest-sphinx
scipy
Sphinx
sphinx-autobuild
sphinx-copybutton
sphinx-gallery>=0.8.1
sphinx-notfound-page>=0.3.0
sphinx-panels
sphinxcontrib-napoleon
sphinxcontrib-websupport
trimesh
typed-ast
typing-extensions
